@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root{
  --azulClaro: #8affff;
  --cinza: #F0FFFF;
  --laranja: #ff8300;
}

.lightMode{
  background: var(--cinza);
  color: #000;
  font-family: 'Roboto Condensed', Arial;
}

.blackMode{
  background: #000;
  color: #fff;
  font-family: 'Roboto Condensed', Arial;
}

h1{
  text-align: center;
}

.homeInfo{
  width: 100%;
  height: 148px;
  border-radius: 6px;
  margin: 2px;
  padding: 2px;
  background: var(--laranja);
}
.homeInfo h4{
  text-align: center;
}


#icon{
  width: 40px;
  height: 40px;
}

footer{
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0%;
  background: var(--laranja);
  margin: 0;
  padding: 2px;
  width: 98%;
  height: 5%;
  border-radius: 6px;
}

.new-wee{
  background: var(--laranja);
  border-radius: 6px;
  padding: 2px;
  margin-top: 50px;
}

#pub-text{
  outline: none;
  margin-left: 4px;
  font-family: Arial, Helvetica, sans-serif;
  border: solid 3px red;
  border-radius: 6px;
  background: transparent
}

#pub{
  display: flex;
  flex-direction: row;
  width: 98%;
}

